<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/header.ejs'); %>
  </head>
  <body>
    <%- include('../components/navbar.ejs'); %>
    <div class="app-container">
      <form action="/savenote" method="post">
        <div class="card" style="width: 24rem">
          <div class="card-body">
            <h3 class="card-title mb-3">Create Notes</h3>
            <div class="mb-3">
              <label for="notename" class="form-label">Note Name</label>
              <input
                name="notename"
                type="text"
                class="form-control"
                id="notename"
                placeholder="note name"
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                name="description"
                type="text"
                class="form-control"
                id="description"
                placeholder="description"
              ></textarea>
            </div>
            <div class="mb-4 gap-3 d-flex">
              <label for="category" class="form-label">Category</label>
              <select name="category" id="category">
                <option value="work">Work</option>
                <option value="home">Home</option>
                <option value="personal">Personal</option>
                <option value="hobby">Hobby</option>
                <option value="learning">Learning</option>
              </select>
            </div>
            <div class="d-grid mb-2">
              <button class="btn btn-info" type="submit">create note</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <footer><%- include('../components/footer.ejs'); %></footer>
  </body>
</html>
