<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/header.ejs'); %>
  </head>
  <body>
    <%- include('../components/navbar.ejs'); %>

    <div class="row">
      <% data.forEach(function(_d){ %> <%- include('../components/note.ejs',
      {note: _d}); %> <% }); %>
    </div>

    <footer><%- include('../components/footer.ejs'); %></footer>
  </body>
</html>
