<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/header.ejs'); %>
  </head>
  <body class="container">
    <div class="app-container">
      <form action="/checkEmail" method="post">
        <div class="card" style="width: 30rem">
          <div class="card-body">
            <h3 class="card-title mb-4">Email Confirmation Field</h3>

            <div class="mb-4">
              <label for="email" class="form-label">Email address</label>
              <input
                name="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="name@example.com"
              />
            </div>

            <div class="d-grid">
              <button class="btn btn-success" type="submit">
                confirm email
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer><%- include('../components/footer.ejs'); %></footer>
  </body>
</html>
