<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/header.ejs'); %>
  </head>
  <body class="container">
    <div class="app-container">
      <form method="post" action="/savePassword">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h3 class="card-title mb-4">Password Reset</h3>
            <div class="mb-3">
              <label for="password" class="form-label">New Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="............"
              />
            </div>
            <div class="mb-4">
              <label for="confirmpassword" class="form-label"
                >Confirm New Password</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmpassword"
                placeholder="............"
                name="confirmpassword"
              />
            </div>
            <div class="d-grid">
              <button class="btn btn-success" type="submit">
                save password
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer><%- include('../components/footer.ejs'); %></footer>
  </body>
</html>
